:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --accent-color: #e67e22;
    --success-color: #27ae60;
    --background-color: #f8f9fa;
    --text-color: #333;
    --text-light: #ffffff;
    --shadow-light: 0px 4px 8px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0px 6px 12px rgba(0, 0, 0, 0.2);
    --border-radius: 12px;
    --transition: all 0.3s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: var(--primary-color);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

ul{
    display: flex;
    gap: 10px;
}



.container{
   display: flex;
   flex-direction: column;
   align-items: center;
    height: 100vh;
}

.loan-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.loan-item {
    background: var(--primary-color);
    color: var(--text-light);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: var(--shadow-light);
    transition: var(--transition);
    cursor: pointer;
    height: 140px;
    width: 60%;
}

.loan-item:hover {
    box-shadow: var(--shadow-hover);
}

.loan-item span {
    display: block;
    font-size: 1.5rem;
}

.options {
    display: none;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

button {
    border: none;
    padding: 8px 12px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
    font-size: 14px;
}

.approve {
    background-color: var(--success-color);
    color: var(--text-light);
}

.reject {
    background-color: var(--accent-color);
    color: var(--text-light);
}

button:hover {
    opacity: 0.8;
}
